
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*?)$ ./index.php?url=$1 [QSA,L]
RewriteRule app http://localhost/Interface-project/page-not-found [NC,R=301]
RewriteRule public_html http://localhost/Interface-project/page-not-found [NC,R=301]
RewriteRule vendor http://localhost/Interface-project/page-not-found [NC,R=301]
RewriteRule routes http://localhost/Interface-project/page-not-found [NC,R=301]
RewriteRule composer.json http://localhost/Interface-project/page-not-found [NC,R=301]
RewriteRule composer.lock http://localhost/Interface-project/page-not-found [NC,R=301]
